.circle {
  background: $base-accent-color;
  // border: 1px solid red;
  // border-radius: 50%;
  // padding: 1em;
  position: relative;
border-radius: 50%;
width: 100%;
height: auto;
padding-top: 100%;
}
