.content--primary {
  background: $base-background-color;
  padding: ($base-content-padding / 2) $base-content-padding;
}

.content--alternate {
  background: $alt-background-color;
  padding: ($base-content-padding / 2) $base-content-padding;
}

.nav--primary {
  font-size: 1.5em;
  padding-bottom: 2em;

  @include media($screen-sm) {
    padding-top: 2.5em;
  }
}
