.content--primary {
  background: $base-background-color;
  margin-top: em(30);
  padding: ($base-content-padding * 1.5) $base-content-padding;
}

.content--alternate {
  background: $alt-background-color;
  padding: ($base-content-padding / 2) $base-content-padding $base-content-padding $base-content-padding;
}

.nav--primary {
  font-size: 1.5em;
  padding-top: 3em;

  @include media($screen-sm) {
    padding-bottom: 2em;
    padding-top: 0.5em;
    text-align: right;
  }

  @include media($screen-md) {
    text-align: center;
  }
}
