.content--primary {
  background: $base-background-color;
  margin-top: 1em;
  padding: ($base-content-padding * 1.5) $base-content-padding;
}

.content--alternate {
  background: $alt-background-color;
  padding: ($base-content-padding / 2) $base-content-padding $base-content-padding $base-content-padding;
}
