.ul--unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media($screen-sm-down) {
    font-size: 1.4em;
  }
}

.ul--unstyled__li {
  @include media($screen-md) {
    display: inline-block;
    padding: 0 1.5em 1em 1.5em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.li__bullet {
  font-family: $alt-font-family;
  font-weight: bold;
  display: inline-block;
  width: 2em;
}
