.body {
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $unitless-line-height;

  &--alt {
    background: $alt-background-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-family: $header-font-family;
  font-weight: 100;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

%subheading {
  @include media($screen-sm-down) {
    padding-top: 0.5em;
  }
}

.subheading--default {
  @extend %subheading;
  margin-bottom: 1.5em;
}

.subheading--portfolio {
  @extend %subheading;
}

.heading--default,
.subheading--default,
.subheading--portfolio {
  font-family: $alt-font-family;
}

.accent {
  color: $base-accent-color;
}

.paragraph {
  @include media($screen-sm-down) {
    font-size: 1.4em;
  }
}

.paragraph--default {
  font-weight: 500;
  margin: 0 0 ($base-line-height * .5);
}

.paragraph--alt {
  color: $white;
  font-size: 1em;
  text-transform: uppercase;

  @include media($screen-sm) {
    font-size: 0.8em;
  }
}

.paragraph--portfolio {
  font-family: $alt-font-family;
  font-weight: 500;
  margin: 0 0 ($base-line-height * .5);

  @include media($screen-sm) {
    font-size: 0.8em;
  }
}

.paragraph__title {
  font-family: $alt-font-family;
  opacity: 0.6;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.link {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $base-link-color--hover;
  }

  &:active, &:focus {
    color: $base-link-color--hover;
    outline: none;
  }
}

.link--alt {
  font-size: 0.6em;
  font-weight: 500;
  text-transform: uppercase;

  @include media($screen-sm-down) {
    font-size: 0.9em;
    line-height: 2em;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
